---
import { Image } from "@astrojs/image/components";
import { BsPinAngleFill } from "react-icons/bs/index.js";
import {
  FaCamera,
  FaDiscord,
  FaGithub,
  FaHome,
  FaTwitch,
  FaTwitter,
  FaYoutube,
} from "react-icons/fa/index.js";
import Head from "../components/Head.astro";
import LinkCard from "../components/LinkCard.astro";
import LinksContainer from "../components/LinksContainer.astro";
---

<html lang="en">
  <Head />
  <body class="mt-16 flex flex-col items-center px-8">
    <header class="flex flex-col items-center">
      <Image
        src="/toastedtoast.jpg"
        alt="Toastify Logo"
        format="webp"
        width={96}
        height={96}
        class="rounded-full"
      />
      <h1 class="mb-8 mt-4 text-xl font-bold">ToastedToast</h1>
    </header>
    <main class="flex w-full flex-col gap-1">
      <LinksContainer title="Pinned" icon={BsPinAngleFill}>
        <LinkCard
          href="https://www.youtube.com/playlist?list=PLLeUdIoKbA7IddkOvTZTlArtEH8rdONcl"
          title="Talking to a camera"
          icon={FaCamera}
          color="#000"
        />
      </LinksContainer>
      <div class="flex w-full flex-col items-center">
        <span class="mb-3 h-0.5 w-48 rounded-lg bg-white"></span>
      </div>
      <LinksContainer>
        <LinkCard
          href="https://toastify.tk"
          title="Website"
          icon={FaHome}
          color="#000"
        />
        <LinkCard
          href="https://youtube.com/@ToastedDev"
          title="YouTube"
          icon={FaYoutube}
          color="#f00"
        />
        <LinkCard
          href="https://twitter.com/ToastedDev"
          title="Twitter"
          icon={FaTwitter}
          color="#1DA1F2"
        />
        <LinkCard
          href="https://twitch.tv/ToastedDev"
          title="Twitch"
          icon={FaTwitch}
          color="#9146FF"
        />
        <LinkCard
          href="https://github.com/ToastedDev"
          title="GitHub"
          icon={FaGithub}
          color="#000"
        />
        <LinkCard
          href="https://toastify.tk/discord"
          title="Discord"
          icon={FaDiscord}
          color="#5865F2"
        />
      </LinksContainer>
    </main>
  </body>
</html>
